@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  font-family: "inter", sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: blue;

  font-size: 1rem;
  font-weight: 400;
}

label {
  font-size: 1rem;
  font-weight: 400;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.exsm {
  font-size: 0.5rem;
}

.right {
  float: right;
}

.left {
  float: left;
}

.hidden {
  display: none;
}

.bn47 {
  position: relative;
  padding: 1rem 2rem 0.5rem 2.5rem;
  color: #000000;
  border: 3px solid #776e62;
  -webkit-transition: padding 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
}

.bn47:before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bn47:hover {
  padding: 0.75rem 2.25rem;
}

.bn47:hover:before {
  top: 0;
  left: 0;
}
